<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Web Developer - Entrepreneur</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Karen Farzam">

    <%= favicon_link_tag %>

    <!--FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cousine:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <%= stylesheet_link_tag    "application", media: "all" %>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <%= javascript_include_tag "application" %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
